body {
    padding: 0px;
    margin: 0px;
    background-color: #1B4051;
}
#background {
    height: 50%;
    overflow: hidden;
}

#headingSpace {
    width: 40%;
    margin: 0px;
    margin-left: 30px;
    float: left;
    padding-top: 340px;
    font-weight: normal;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#mainHeading{
    color: white;
    margin: 0px;
    font-size: 3em;
}

#secondaryHeading{
    color: #ce4f53;
    margin: 0px;
    font-size: 1.7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#backgroundIcon{
    width: auto; 
    height: 425px; 
    float: left;
    opacity: 0.8;
    position: absolute;
    top: -20;
    left: -110;
    z-index: -1;
    
}

#swiperPagesContainer {
    width: 100%;
    height: 50%;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.schedulePopUp{
    background-color: #EEF0F1;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.formPageElement {
    background-color: #EEF0F1;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select{
    background-color: #1B4051;
    color: white;
}