body {
    padding: 0px;
    margin: 0px;
    background-color: #4C5669;
}
#background {
    height: 50%;
    overflow: hidden;
}

#headingSpace {
    width: 40%;
    margin: 0px;
    margin-left: 30px;
    float: left;
    padding-top: 325px;
    font-weight: normal;
    text-align: center;
}

#mainHeading{
    color: white;
    margin: 0px;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

#secondaryHeading{
    color: white;
    margin: 0px;
    font-size: 2em;
    text-align: center;
    margin-left: auto;
    width: 80%;
    margin-right: auto;
}

#backgroundIcon{
    width: auto; 
    height: 425px; 
    float: left;
    opacity: 0.8;
    position: absolute;
    top: -20;
    left: -110;
    z-index: -1;
    
}

#contentSection {
    background-color: #EEF0F1;
    width: 100%;
    height: 50%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}