body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: darkslategray;
}
:root {
    --inputIconSpacing: 40px;

}
/* Body is a flex object so that we can send the <main> tag down to the
    bottom of the entire page. We use flex on the <main> tag to
    space out the 2 main sections (header & authForm) */
main {
    /* Temporary color */
    background-color: inherit;
    width: calc(100% - 40px);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
header {
    width: 100%;
}
h1 {
    color: white;
    font-weight: 700;
    font-size: 3.5em;
}


#authSection {
    width: 100%;
    max-width: 300px;
}
#authForm {

}
.authItem {

}
.authItem label {
    margin-left: 30px;
    font-weight: 600;
    color: white;
}
.authItem .inputGrid {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: var(--inputIconSpacing) auto;
    position: relative;
}
.inputGrid img {
    /* position: absolute; */
    margin: auto;
    grid-column: 1;
    z-index: 1;
}
.inputGrid input {
    position: absolute;
    width: 100%;
    height: inherit; /* inherit 30px from .inputGrid */
    background-color:rgba(255,255,255,0.75);
    border-radius: 1000px;
    grid-column: span 2;
    z-index: 0;
    padding-left: var(--inputIconSpacing);
    box-sizing: border-box;
}
#actionContainer #actionButton {
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 1000px;
    padding:  10px 25px 10px 25px;
    font-size: 1.25em;
}
