/* Global */
body {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 0.02em;
}

#settingsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
/* Variables */
:root {
    --add-profile-picture: 30px;
}
/* Header */
header {
    display: flex;
    flex-direction: row;
}
header h1 {
    margin: 20px;
}
header img {
    margin-left: 20px;
}
/* Profile */
#profileBlock {
    display: grid;
    grid-template-columns: var(--add-profile-picture) 125px auto;
}
#profileBlock #profilePicture {
    border-radius: 1000px;
    width: 125px;
    
    grid-column: 2;
}
#profileBlock #addProfilePictureContainer {
    border-radius: 1000px;
    background-color: #BDBDBD;
    grid-column: 3;
    padding: 5px;
    height: min-content;
    width: 20px;
    height: 20px;
    align-self: flex-end;
}
#profileBlock #addProfilePicture {
    width: 100%;
    height: 100%;
}
/* Settings */
.categoryBlock {
    width: 90%;
}
.categoryBlock h2 {
    margin-top: 1.5em;
}
.categoryBlock a {
    display: block;  /* Makes the a tag act like a div */
}
/* Setting Blocks */
a.settingBlock {
    display: grid;
    grid-template-columns: 7% auto;
    padding: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #D8D8D8;
}
a.settingBlock img {
    filter: invert(41%) sepia(0%) saturate(10%) hue-rotate(162deg) brightness(91%) contrast(89%);
    width: 20px;
    margin: auto 0 auto 0;

}
a.settingBlock p {
    color: #636363;
    font-size: 1.25rem;
    font-weight: normal;
}
/* Footer */
footer {
    /* align-self: flex-end; */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
footer button {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.12em;
    font-weight: 700;
    color: #0066FF;

}

