body {
  background-color: darkslategray;
}
.card_container {
  padding: 0px 10px 30px 10px;
  margin: 50px auto 0px auto;
  box-sizing: border-box;
  width: 90%;
  text-align: center;
  background: white;
  border-radius: 10px;
  display: grid;
  height: max-content;
}
.card_label {
  margin-top: 15px;
  font-size: 1.8rem;
  height: max-content;
  color: black;
  font-weight: bold;
}

.input_card {
  grid-template-rows: 1fr 2fr;
}
.input_card textarea {
  margin: auto;
  width: 90%;
  height: 120px;
  border-radius: 10px;
  background-color: darkgray;
  border: none;
  outline: 0;
}

#substances_container {
  background-color: #efefef;
  width: 100%;
  position: absolute;
  bottom: -65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px -3px 25px rgba(0, 0, 0, 0.5);
  padding: 10px 30px 30px 30px;
  box-sizing: border-box;
}
#substances_container .card_label {
  margin-top: 0px;
  font-size: 2.2rem;
  color: black;
}
#substance_list {
  width: 100%;
}
.substance_item {
  width: 100%;
  display: grid;
  grid-template-columns: auto 70px;
  align-items: center;
  height: max-content;
}
.substance_item:not(:first-child) {
  margin-top: 10px;
}
.substance_label {
  border-radius: 30px 100px 100px 30px;
  padding-left: 15px;
  box-sizing: border-box;
  color: white;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: black;
  width: 100%;
  text-align: left;
  grid-column: 1 / 3;
  grid-row: 1;
  z-index: 1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
.add_button {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 70px;
  line-height: 65px;
  font-size: 3rem;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  grid-column: 2 / 3;
  grid-row: 1;
  z-index: 2;
  color: black;
}
